@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background: linear-gradient(to bottom right,rgba(0,0,0,0.9),rgba(0,0,0,0.4)),url("/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
/* */
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background: 5px;
}
::-webkit-scrollbar-thumb{
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: #242424;
}